body {
  background-color: navajowhite;
}
.container {
  display: flex;
  justify-content: center;
}
.heading {
  width: 500px;
  background-color: rgb(174, 243, 220);
  display: flex;
  flex-direction: column;
  margin: 20px auto;
}
.btn {
  display: flex;
  justify-content: space-evenly;
}
button {
  margin: 15px;
  padding: 10px;
  border-radius: 10px;
  border: none;
}
.blue {
  background-color: blue;
  color: aliceblue;
  font-size: 18px;
}
.red {
  background-color: red;
  color: aliceblue;
  font-size: 18px;
}
p {
  font-family: Helvetica, sans-serif;
  margin-left: 20px;
}
h1, h2, h3 {
  font-family: Helvetica, sans-serif;
  color: navy;
}


